snippet cls "console.log"
console.log('---', $1)
endsnippet

snippet d "debugger"
debugger;
endsnippet

snippet imp "import"
import { $2 } from '$1';
endsnippet

snippet i "import"
import $2 from '$1';
endsnippet
